version: "3"

services:
  app:
    build: ./app
    container_name: app
    env_file:
      - .env
    volumes:
      - ./app:/app
    expose:
      - "8000"

  web-proxy:
    image: nginx:alpine
    container_name: web-proxy
    depends_on:
      - app
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
      - "443:80"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_volume:/var/lib/rabbitmq
    restart: on-failure

  database:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_DB: ml_court
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_volume:/var/lib/postgresql/data

volumes:
  postgres_volume:
  rabbitmq_volume:

