version: "3.9"

services:
  app:
    build: ./app
    container_name: app
    env_file:
      - ./app/.env
    volumes:
      - ./app/src:/app
    depends_on:
      - database
      - rabbitmq
    ports:
      - "8000:8000"
    networks:
      - backend

  web-proxy:
    image: nginx:1.27-alpine
    container_name: web-proxy
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq
    restart: on-failure
    networks:
      - backend

  database:
    image: postgres:16
    container_name: database
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - backend

networks:
  backend:
    driver: bridge
