services:
  database:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ml_court
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    depends_on:
      - database
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@database:5432/ml_court
    ports:
      - "8000:8000"

volumes:
  pgdata:
